.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  
  @media (max-width: 700px) {
    .home {
      padding: 0 2rem;
    }
  }
  
  .home > h1 {
    font-size: 3.5rem;
    background: linear-gradient(
      135deg,
      #36d1dc 0%,
      #5b86e5 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .home > a {
    font-size: 1.5rem;
  }